.desing {
    width: 100%;
}
.desing-box {
    width: 1170px;
    margin: 0 auto;
}
.desing-box-fon {
    height: 442px;
    background-image: url("./imges/fon.png");
    /* background: rgba(0, 0, 0, 0.5); */
    color: white;
}