.head {
    width: 1170px;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin: 0 auto;
}
.head__title {
    padding: 40px 10px 10px 10px;
    text-align: center;
}
.head__line {
    width: 100px;
    border-bottom: 1px solid;
    color: #EC7979;
    margin: 0 auto;
    margin-bottom: 10px;
    margin-top: 10px;
}
.head__lorem {
    color: #868788;
    padding: 20px;
}