.pricing {
    width: 100%;
    height: 900px;
    background-color: #F5F5F5;
}
.blocks {
    padding-top: 50px;
    width: 1170px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}
.blocks-tarif__hover:hover {
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.20));
    position: relative;
    bottom: 20px;
}
.blocks-tarif__title {
    margin: 0 auto;
    width: 370px;
    height: 60px;
    border: 2px solid #F5F5F5;
    background: #333; 
    color: #FFF; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: Open Sans;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal; 
}
.blocks-tarif__price {
    margin: 0 auto;
    display: flex;
    width: 369px;
    height: 100px;
    flex-direction: column;
    justify-content: center;
    border: 2px solid #F5F5F5;
    background: #333; 
    color: #FFF; 
    text-align: center;
    font-family: Raleway;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.blocks-tarif__subtitle {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 50px;
    border: 2px solid #F5F5F5;
    background: #333;
    color: rgba(255, 255, 255, 0.50);
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.blocks-tarif__text {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 370px;
    height: 50px;
    border: 2px solid #F5F5F5;
    background: #FFF;
    color: #86878B;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
@media screen and (max-width: 1200px) {
    .head {
        width: 99%;
    }
    .blocks{
        width: 99%;
    }
    .blocks-tarif {
        width: 316px;
    }
    .blocks-tarif__title {
        width: 100%;
    }
    .blocks-tarif__price {
        width: 100%;
    }
    .blocks-tarif__subtitle {
        width: 100%;
    }
    .blocks-tarif__text {
        width: 100%;
    }
}
@media screen and (max-width: 750px) {
    .pricing {
        height: 2000px;
    }
    .blocks {
        flex-direction: column;
        align-items: center;
    }
}